span.required {
    color: red;
    font-style: italic;
    font-weight: bold;
}

span.optional {
    font-style: italic;
    font-weight: bold;
}
pre.code {
    color:black;
    background-color: #f8f8f8;
    border: solid 1px #e1e4e5;
    font-size: 12px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
    max-width: 100%;
    padding: 12px;
    overflow-x: auto;
    overflow-wrap: normal;
    display: block;
    font-weight: 400;
    box-sizing: border-box;
}
